{% load static %}

<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<script src="{% static 'js/bootstrap.min.js' %}"></script>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-tienda</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <!-- Barra de navegación -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">E-tienda</a>

        <!-- Botón de hamburguesa para dispositivos móviles -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <!-- Botón de orders -->
            <ul class="navbar-nav ml-2">
                <li class="nav-item">
                    <a class="nav-link" href="/etienda/">Last offers</a>
                </li>
            </ul>

            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownCategorias" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Categories
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownCategorias">
                        <a class="dropdown-item" href="/etienda/categoria/women's clothing">Women's Fashion</a>
                        <a class="dropdown-item" href="/etienda/categoria/men's clothing">Men's Fashion</a>
                        <a class="dropdown-item" href="/etienda/categoria/jewelery">Jewelery</a>
                        <a class="dropdown-item" href="/etienda/categoria/electronics">Electronics</a>
                    </div>

                </li>
            </ul>

            <!-- Barra de búsqueda -->
            <form class="form-inline my-2 my-lg-0 ml-auto" action="{% url 'resultado_busqueda' %}" method="GET">
                <input class="form-control mr-sm-2" type="search" name="q" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>

            <!-- Botón de nuevo producto -->
            <ul class="navbar-nav ml-2">
                <li class="nav-item">
                    <a class="nav-link" href="/etienda/nuevo_producto">New Product</a>
                </li>
            </ul>

            <!-- Botón de orders -->
            <ul class="navbar-nav ml-2">
                <li class="nav-item">
                    <a class="nav-link" href="#">Orders</a>
                </li>
            </ul>

            <!-- Botón de Logout -->
            <ul class="navbar-nav ml-2">
                <li class="nav-item">
                    <a class="nav-link" href="#">Logout</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Contenido de la página -->
    {% block content %}
    <div class="container mt-4">
        <h1>Página</h1>
        <p>Ejemplo</p>
    </div>
    {% endblock %}

    <!-- Agrega los archivos JavaScript de Bootstrap y jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>